<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;font-size: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"size= 12px size-sm>MovieFlix</ion-title>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2">
      </ion-back-button>
      </ion-buttons>
      </ion-toolbar>
      </ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/eP0xiZ5EQzU" title="IP MAN 4 (2019) | Official US Theatrical Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 text-left>Ip Man 4</h3>
        <h4 text-left>2019  Action/Thriller  1h45m</h4>
        <p>The Kung Fu master travels to the U.S. where his student has upset the local martial arts community by opening a Wing Chun school.</p>
      </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
