<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;font-size: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"size= 12px size-sm>MovieFlix</ion-title>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2">
      </ion-back-button>
      </ion-buttons>
      </ion-toolbar>
      </ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/vKQi3bBA1y8" title="The Matrix (1999) Official Trailer #1 - Sci-Fi Action Movie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 text-left>The Matrix</h3>
        <h4 text-left>1999  Action/Sci-fi  2h16m</h4>
        <p>When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.</p>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
